{% extends 'base.html.twig' %}

{% block body %}

    <h1>Connectez-vous !</h1>

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Adresse email" required name="_username">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Mot de passe" required name="_password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">
                Connexion    
            </button>
        </div>
    </form>

{% endblock %}