{% extends 'base.html.twig' %}

{% form_theme formSecurity 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Inscrivez-vous !</h1>

    {{ form_start(formSecurity) }}

    {{ form_row(formSecurity.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': "Nom d'utilisateur"}})}}
    {{ form_row(formSecurity.email, {'label': 'Email', 'attr': {'placeholder': "Email"}})}}
    {{ form_row(formSecurity.password, {'label': 'Mot de passe', 'attr': {'placeholder': "Mot de passe"}})}}
    {{ form_row(formSecurity.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': "Confirmation du mot de passe"}})}}

    <button type="submit" class="btn btn-success">
        Inscription    
    </button>

    {{ form_end(formSecurity) }}

{% endblock %}