{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des sujets</h1>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Titre de la catégorie</th>
            <th>Description</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a href="{{ path('admin_delete_categorie', {'id': category.id}) }}" class="btn btn-warning">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas de catégorie</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}