{% extends 'base.html.twig' %}

{% form_theme formCategory 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'une catégorie !</h1>

    {{ form_start(formCategory) }}

    {{ form_row(formCategory.title, {'attr': {'placeholder': "Titre de la catégorie"}}) }}
    {{ form_row(formCategory.description, {'attr': {'placeholder': "Description de la catégorie"}}) }}

    <button type="submit" class="btn btn-success">
            Ajouter la catégorie
    </button>

    {{ form_end(formCategory) }}

{% endblock %}