{% extends 'base.html.twig' %}

{% block title %}Zone d'administration{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1>Bienvenue dans la zone d'administration</h1>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">Forum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                <a class="nav-link" href="{{ path('forum') }}">Accueil</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('forum_create') }}">Créer un forum</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('security_registration') }}">Inscription</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_users') }}">Liste des utilisateurs</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_sujets') }}">Liste des sujets</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_categories') }}">Liste des catégories</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_category_create') }}">Ajouter une catégorie</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>

{% endblock %}
