{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des sujets</h1>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Titre du sujet</th>
            <th>Contenu</th>
            <th>Créé le</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for sujet in sujets %}
                <tr>
                    <td>{{ sujet.id }}</td>
                    <td>{{ sujet.title }}</td>
                    <td>{{ sujet.content }}</td>
                    <td>{{ sujet.createdAt | date('d/m/Y à H:i') }}</td>
                    <td>{{ sujet.category.title }}</td>
                    <td>
                        <a href="{{ path('admin_delete_sujet', {'id': sujet.id}) }}" class="btn btn-warning">Supprimer</a>
                        <a class="btn btn-warning" href="{{ path('forum_edit', {'id': sujet.id}) }}">Editer le sujet</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas de sujet</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}