{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=5>Il n'y a pas d'utilisateur inscrit</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}