{% extends 'base.html.twig' %}

{% form_theme formSujet 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'un sujet !</h1>

    {{ form_start(formSujet) }}

    {{ form_row(formSujet.title, {'attr': {'placeholder': "Titre du sujet"}}) }}
    {{ form_row(formSujet.category) }}
    {{ form_row(formSujet.content, {'attr': {'placeholder': "Contenu du sujet"}}) }}

    <button type="submit" class="btn btn-success">
    
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter le sujet
        {% endif %}
    
    </button>

    {{ form_end(formSujet) }}

{% endblock %}