{% extends 'base.html.twig' %}

{% block title %}Hello ForumController!{% endblock %}

{% block body %}
<section class="forums">
    {% for sujet in sujets %}
        <article>
            <h2>{{ sujet.title }}</h2>
            <div class="metadata">Ecrit le {{ sujet.createdAt | date('d/m/Y')}} à {{ sujet.createdAt | date('H:i')}} dans la catégorie CATEGORIE</div>
            <div class="content">
                {{ sujet.content | raw }}
                <a href="{{ path('forum_show', {'id': sujet.id}) }}" class="btn btn-primary">Lire la suite</a>
                {% if app.user %}
                    <a href="{{ path('sujet_like', {'id': sujet.id}) }}" class="btn btn-link js-like js-like-class">
                        {% if app.user and sujet.isLikedByUser(app.user) %}
                        <i class="fas fa-thumbs-up"></i>
                        {% else %}
                        <i class="far fa-thumbs-up"></i>
                        {% endif %}
                        <span class="js-likes">{{ sujet.likes | length }}</span>
                        <span class="js-label">J'aime</span>
                    </a>
                    <a href="{{ path('sujet_dislike', {'id': sujet.id}) }}" class="btn btn-link js-dislike js-dislike-class">
                        {% if app.user and sujet.isDislikedByUser(app.user) %}
                        <i class="fas fa-thumbs-down"></i>
                        {% else %}
                        <i class="far fa-thumbs-down"></i>
                        {% endif %}
                        <span class="js-dislikes">{{ sujet.dislikes | length }}</span>
                        <span class="js-dislabel">Je n'aime pas</span>
                    </a>
                    <a href="{{ path('sujet_report', {'id': sujet.id}) }}" class="btn btn-link js-report">
                        {% if app.user and sujet.isReportedByUser(app.user) %}
                        <i class="fas fa-flag"></i>
                        {% else %}
                        <i class="far fa-flag"></i>
                        {% endif %}
                        <span class="js-label">Reports</span>
                    </a>
                {% endif %}
            </div>
        </article>
    {% endfor %}
</section>
{% endblock %}

{% block javascripts %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <script>

        window.onload = function () {
            document.querySelectorAll('a.js-dislike').forEach(function(link){
                link.addEventListener('click', onClickDislike);
            })    

            document.querySelectorAll('a.js-like').forEach(function(link){
                link.addEventListener('click', onClickLike);
            })

            document.querySelectorAll('a.js-report').forEach(function(link){
                link.addEventListener('click', onClickReport);
            })
        }        
                
                function onClickDislike(event) {
                    event.preventDefault();

                    const url = this.href;
                    const spanCount = this.querySelector('span.js-dislikes');
                    const icone = this.querySelector('i');

                    axios({
                        method: 'get',
                        url: url,
                        data: 'true'
                    }).then(function(response){
                        const dislikes = response.data.dislikes;
                        spanCount.textContent = dislikes;

                        if (icone.classList.contains('fas')) {
                            icone.classList.replace('fas', 'far');
                        } else {
                            icone.classList.replace('far', 'fas');
                        }
                    }).catch(function(error) {
                        if (error.response.status === 403) {
                            window.alert("Vous ne pouvez pas disliker le sujet");
                        } else {
                            window.alert("Une erreur s'est produite, veuillez réessayer");
                        }
                    });
                }

                function onClickReport(event) {
                    event.preventDefault();

                    const url = this.href;
                    const icone = this.querySelector('i');

                    axios({
                        method: 'get',
                        url: url,
                        data: 'true'
                    }).then(function(response){
                        const reports = response.data.reports;
                        if (icone.classList.contains('fas')) {
                            icone.classList.replace('fas', 'far');
                        } else {
                            icone.classList.replace('far', 'fas');
                        }
                    }).catch(function(error) {
                        if (error.response.status === 403) {
                            window.alert("Vous ne pouvez pas report le sujet");
                        } else {
                            window.alert("Une erreur s'est produite, veuillez réessayer");
                        }
                    });
                }
                
                function onClickLike(event) {
                    event.preventDefault();

                    const url = this.href;
                    const spanCount = this.querySelector('span.js-likes');
                    const icone = this.querySelector('i');

                    axios({
                        method: 'get',
                        url: url,
                        data: 'true'
                    }).then(function(response){
                        const likes = response.data.likes;
                        spanCount.textContent = likes;

                        if (icone.classList.contains('fas')) {
                            icone.classList.replace('fas', 'far');
                        } else {
                            icone.classList.replace('far', 'fas');
                        }
                    }).catch(function(error) {
                        if (error.response.status === 403) {
                            window.alert("Vous ne pouvez pas aimer le sujet");
                        } else {
                            window.alert("Une erreur s'est produite, veuillez réessayer");
                        }
                    });
                }
    </script>
{% endblock %}