{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>{{ sujet.title }}</h2>
        <div class="metadata">Ecrit le {{ sujet.createdAt | date('d/m/Y')}} à {{ sujet.createdAt | date('H:i')}} 
        dans la catégorie {{sujet.category.title}}</div>
        <div class="content">
            {{ sujet.content | raw }}
        </div>
    </article>

    <section id="commentaires">
        <h2>Commentaires :</h2>
        {% for comment in sujet.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-4">
                        {{ comment.author}} (<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
                    </div>
                    <div class="col">
                        {{ comment.content | raw}}
                    </div>
                </div>
            </div>
        {% endfor %}
        <br/>
        {% if app.user %}
            {{ form_start(commentForm) }}
            <div>Vous écrivez en tant que : {{ app.user.username }}</div>
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}})}}
            <button type="submit" class="btn btn-success">
                Commenter    
            </button>

            {{ form_end(commentForm) }}
        {% else %}
            <h3>Vous devez vous connecter</h3>
            <a href="{{ path('security_login')}}" class="btn btn-primary">Se connecter</a>
        {% endif %}

    </section>

{% endblock %}